@tailwind base;
@tailwind components;
@tailwind utilities;

.ck.ck-toolbar {
  position: absolute;
  top: -82px;
  border: 1px solid rgb(229, 231, 235);
  width: full;
}

.ck.ck-balloon-panel_visible {
  border: none;
  box-shadow: none;
}

.ck.ck-toolbar.ck-toolbar_floating {
  border: 1px solid rgb(229, 231, 235);
}
